body{
    background: #16BFFD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.completed{
    color: gray;
    text-decoration: line-through;
    transition: 0.2s linear;
}

.deleteTodo{
    color: #CB3066;
    padding-right: 10px;
    text-align: center;
    width: 0;
    display: inline-block;
    opacity: 0;
    transition: 0.2s linear;
}

li:hover .deleteTodo  {
    width: 40px;
    opacity: 1.0;
}